*{
    margin: 0%;
    padding: 0%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
/* NAVBAR 1 CODE */
header{
    background-color: white;
}
header>img{
    height: 68px;
    margin-left: 30px;
}
header>nav>ul{
    list-style: none;
    margin-right: 30px;
}
header>nav>ul>li{
    display: inline-block;
    padding: 10px 30px 10px 10px;
    border-right: 1px solid black;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: black;
}
header>nav>ul>li>a>#icon{
    margin-right: 10px;
    color: blue;
}
header>nav>ul>li>a>span{
    margin-left: 25px;
}
/* NAVBAR 2 CODE */
.header{
    position: sticky;
    top: 0%;
    background-color: blue;
    color: white;
    padding: 5px 30px 5px 20px;
    z-index: 1;
}
.header>nav>ul{
    list-style: none;
}
.header>nav>ul>li{
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}
.header>nav>ul>li:hover{
    background-color: white;
}
.header>nav>ul>li:hover a{
    color: black;
}
.header>nav>ul>li>a{
    text-decoration: none;
    color: white;
}
.header>form>input{
    padding: 10px;
    border-radius: 20px;
}
.header>form>#icon1{
    margin-left: -30px;
    color: white;
    background-color: blue;
    border-radius: 20px;
}
/* ANIMATION CODE */
.animation{
    background-color: rgb(17, 12, 45);
    display: inline-block;
    width: 100%;
    color: white;
}
.text{
    /* background-color: aqua; */
    margin-left: 10px;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: monospace;
    border-right: 5px solid rgb(17, 12, 45) ;
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(20), cursor .4s step-end infinite alternate;
}
.text1{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: monospace;
    border-right: 5px solid rgb(17, 12, 45);
    width: 900px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(20), cursor .10s  infinite;
    text-align: right;
}
@keyframes cursor {
    50% {border-color: rgb(17, 12, 45)}
}
@keyframes typing {
    from{width: 10px;}
}
/* HOME PAGE CODE */
.banner1{
    justify-content: center;
    align-items: flex-start;
    background: url(../images/deskT.jpg) no-repeat center;
    background-size: cover;
    color: white;
    height: 100vh;
    /* border-radius: 0px 0px 500px 300px; */
    line-height: 2;
    margin-top: -5px;
}
.banner1>div{
    margin-top: 50px;
    width: 50%;
}
.banner1>div>span{
    font-size: 30px;
}
.banner1>div>h1{
    font-size: 40px;
}
.banner1>div>button{
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}
.banner1>div>button:hover{
    background-color: black;
    color: white;
}
/* BANNER 2 CODE */
.banner2{
    justify-content: space-around;
    text-align: center;
    background-color: rgb(18, 18, 45);
    color: white;
    transition: 2s ease-in-out;
}
.banner2>figure>img{
    height: 200px;
    border-radius: 200px;
    padding: 20px;
    box-shadow: 3px 3px 2px white,-3px -3px 2px white;
    transition: 2s ease-in-out;
}
.banner2>figure>img:hover{
    transform: scale(-1);
}
.banner2>figure{
    padding-top: 20px;
    margin-bottom: 10px;
}

/* BANNER 3 CODE */
#services{
    text-align: center;
    margin-top: 20px;
}
#services>p{
    color: blue;
}
.banner3{
    justify-content: space-around;
    background-color: lightgray;
}
.banner3>div{
    margin: 40px;
    width: 300px;
    text-align: center;
    /* border: 1px solid gray; */
    padding: 20px;
    border-radius: 10px;
    line-height: 2;
    box-shadow: 3px 3px 2px rgb(18, 18, 45),-3px -3px 2px rgb(18, 18, 45);
    transition: 2s ease-in-out;
}
.banner3>div:hover{
    color: white;
    background-color: rgb(35, 34, 34);
}
.banner3>div>img{
    height: 50px;
    width: 50px;
    /* border: 1px solid gray; */
    margin-top: -40px;
    border-radius: 10px;
    background-color: white;
    transition: 1s ease-in-out;
}
.banner3>div:hover img{
    transform: rotate(180deg);
}
.banner3>div:hover{

    transform: scale(0.8);
}
.banner3>div>.btn{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: white;
    margin: 20px;
    color: blue;
}
.banner3>div>.btn:hover{
    background-color: blue;
    color: white;
}
/* BANNER 4 CODE */
.banner4{
    background-color: blue;
    color: white;
    justify-content: space-around;
}
.banner4>div{
    margin: 30px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 30px;
    background-color: black;
    box-shadow: 3px 3px 2px rgb(245, 245, 247),-3px -3px 2px rgb(223, 223, 245);
}
.banner4>div>span{
    color: red;
}
.banner4>div>h1{
    margin-bottom: 10px;
    margin-top: 20px;
}
.banner4>div>button{
    text-align: center;
    padding: 10px;
    border: 1px solid red;
    color: white;
    background-color: black;
    margin-top: 20px;
}
.banner4>div>button>#arrow{
    color: red;
    height: 15px;
    margin-left: 3px;
}
.banner4>img{
    height: 300px;
    border-radius: 30px;
}
/* BANNER 5 CODE */
#blog{
    text-align: center;
    line-height: 2;
    margin: 20px 0px;
}
.banner5{
    justify-content: space-around;
}
.banner5>div{
    width: 20%;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    text-align: justify;
    background-color: rgb(247, 242, 242);
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(18, 18, 45),-3px -3px 2px rgb(18, 18, 45);
}
.banner5>div:hover{
    background-color: white;
}
.banner5>div>p>span{
    color: blue;
}
.banner5>div>h2{
    margin: 10px 0px;
}
.banner5>div>p{
    margin: 10px 0px 20px 0;
}
.banner5>div>img{
    height: 150px;
    width: 100%;
    border-radius: 10px;
}
/* BANNER 6 CODE */
.banner6{
    background: url(../images/pexels-jopwell-1325766.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.banner6>div{
    background-color: rgba(1, 1, 1, 0.2);
    text-align: center;
    color: white;
    line-height: 2;
    padding: 20px;
    border-radius: 10px;
}
.banner6>div:hover{
    background-color: rgba(1, 1, 1, 0.5);
}
/* BANNER 7 CODE */
.banner7{
    justify-content: space-evenly;
    background-color: rgb(247, 249, 249);
    border: 1px solid white;
    justify-self: center;
    margin: -30px 50px 0 50px;
    
}
.banner7>#first>table{
    background-color: rgb(243, 240, 240);
    border: 1px solid lightgray;
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
.banner7>#first{
    background-color: white;
    border-radius: 10px;
}
#num{
    color: blue;
    font-size: 20px;
}
#loc{
    color: blue;
}
#btn{
    background-color: blue;
    color: white;
    padding: 10px;
    border: 1px solid blue;
}
#icon2{
    color: red;
    padding: 10px;
    border: 1px solid red;
    border-radius: 100px;
    margin: 20px;
}
.banner7>#second{
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    line-height: 2;
    background-color: white;
    margin: 20px;
}
#name,#email,#number{
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px;
    display: inline-block;
}
#employee{
    width: 300px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 8px;
}
/* SWIPER CODE */

.swiper {
    width: 800px;
    /* height: 300px; */
    text-align: center;
    margin-bottom: 30px;
}
.card1>div{
    border: 1px solid lightgray;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    line-height: 2;
}
.card1>div>img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
/* FOOTER */
.item8{
    justify-content: space-around;
}
.item8>div>ul{
    list-style: none;
}
.item8>div>ul>li{
    padding: 10px;
}
.item8>div>hr{
    border: 1px dotted gray;
    margin: 10px 0;
}
.item8>iframe{
    border-radius: 100px;
}
.item8>.some>table{
    height: 190px; 
    width: 150px;
}
.item9{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 20px;
}
.item9>p>span{
    color: blue;
}